<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mapper.MenuMapper">
    <select id="findPermsByRoleId" resultType="java.lang.Integer">
        select menu_id from t_role_menu rm where role_id = #{roleId}
    </select>
</mapper>