<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mapper.MenuMapper">
    <select id="findPermIdsByRoleId" resultType="java.lang.Integer">
        select menu_id from t_role_menu rm where role_id = #{roleId}
    </select>
    <select id="findUrlsByIds" resultType="java.lang.String">
        select url from t_menu where id in
        <foreach item="id" index="index" collection="permIds"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>